

# Client
client/dist
client/.vscode
client/node_modules
client/.editorconfig
client/.angular
client/src/environment.ts
client/src/environment.prod.ts


# Server
/server/

/papermast/appsettings.Development.json
/papermast/appsettings.json
/papermast/bin/
/papermast/obj/
/papermast/.vs/
/papermast/Properties/launchSettings.json
