<div [@fadeAnimation]>
  <div class="page-layout">
    <!-- LEFT -->
    <div class="left-column" style="flex: 1;">
      <mat-card class="scroll-container mat-elevation-z2">
        <mat-card-header class="mb-3">
          <mat-card-title>Popular Fiction</mat-card-title>
        </mat-card-header>

        <mat-card-content *ngIf="booksResults">
          <div *ngFor="let book of booksResults || []" class="mb-2">
            <mat-card class="mb-2">
              <bookshelf-book-list-entry [book]="book"></bookshelf-book-list-entry>
            </mat-card>
          </div>
        </mat-card-content>

        <!-- pagination -->
      </mat-card>
    </div>

    <!-- RIGHT -->
    <div class="right-column" style="flex: 1;">
      <mat-card class="scroll-container mat-elevation-z2">
        <mat-card class="scroll-container mat-elevation-z2">
          <mat-card-header class="mb-3">
            <mat-card-title>Author Of The Day</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <daily-author [author]="authorOfTheDay"></daily-author>
          </mat-card-content>
        </mat-card>

      </mat-card>
    </div>
  </div>
</div>

