.sidenav-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.nav-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
}

.nav-button mat-icon,
mat-panel-title mat-icon {
  margin-right: 12px;
}

.child-nav-button {
  padding-left: 24px;
}

.active-nav-item {
  background: rgba(127, 127, 127, 0.16);
}

mat-expansion-panel {
  border-radius: 0;
  box-shadow: none;
}

mat-panel-title {
  align-items: center;
}
