<div class="sidenav-content py-2">

  <nav class="nav flex-column">
    <button mat-button
      [routerLink]="['/']"
      class="nav-button d-flex align-items-center w-100"
      [ngClass]="{ 'justify-content-center': collapsed, 'justify-content-start': !collapsed }">
      <mat-icon title="Home" class="me-2" [ngClass]="{ 'me-0': collapsed }">home</mat-icon>
      @if (!collapsed) {
        <span>Home</span>
      }
    </button>

    <button mat-button
      [routerLink]="['/bestsellers']"
      class="nav-button d-flex align-items-center w-100"
      [ngClass]="{ 'justify-content-center': collapsed, 'justify-content-start': !collapsed }">
      <mat-icon title="Bestsellers" class="me-2" [ngClass]="{ 'me-0': collapsed }">sell</mat-icon>
      @if (!collapsed) {
        <span>Bestsellers</span>
      }
    </button>

    <button mat-button
      [routerLink]="['/shelves']"
      class="nav-button d-flex align-items-center w-100"
      [ngClass]="{ 'justify-content-center': collapsed, 'justify-content-start': !collapsed }">
      <mat-icon title="Shelves" class="me-2" [ngClass]="{ 'me-0': collapsed }">menu_book</mat-icon>
      @if (!collapsed) {
        <span>Shelves</span>
      }
    </button>

    <button mat-button
      class="nav-button d-flex align-items-center w-100"
      [ngClass]="{ 'justify-content-center': collapsed, 'justify-content-start': !collapsed }">
      <mat-icon title="Search" class="me-2" [ngClass]="{ 'me-0': collapsed }">search</mat-icon>
      @if (!collapsed) {
        <span>Search</span>
      }
    </button>
  </nav>

  <div class="sidenav-bottom">
    <div class="nav-button d-flex align-items-center w-100">
      <mat-slide-toggle (change)="toggleDarkMode()"></mat-slide-toggle>
      @if (!collapsed) {
        <span [ngClass]="darkMode ? 'dark-label' : ''">Light</span>
      }
    </div>
  </div>
</div>

