.sidenav-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.nav-button {
  width: 100%;
  padding: 8px 16px;
  text-align: left;
}

.sidenav-bottom {
  margin-top: auto;
}

.toggle-button {
  margin: 8px;
  align-self: center;
}

.dark-label {
  color:white;
  font-size: medium;
  font-weight: 300;
}

