.bestseller-page {
  min-height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
}

.page-header {
  display: block;
  margin-bottom: 3rem;
}

.title-row {
  align-items: center;
  justify-content: center;
  display: block;
  text-align: center;
  margin-bottom: clamp(3rem, 5vw, 6rem);
}


.bestseller-list-header {
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, transparent, var(--mat-option-selected-state-label-text-color), transparent);
}

.list-button-group {
  display: flex;
  align-items: center;
}

.list-button-group > :first-child {
  margin-right: auto;
  margin-left: 3rem;
  z-index: 5;
}

.list-button-group > :last-child {
  margin-left: auto;
  margin-right: 3rem;
  z-index: 5;
}

.list-row {
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.carousel-stage {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.carousel-card-wrapper {
  position: absolute;
  transition: all 350ms ease;
}

.carousel-card-wrapper.center {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 3;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.carousel-card-wrapper.left {
  // transform: translateX(-320px) scale(0.85);
  transform: translateX(calc(-1 * min(40vw, 360px))) scale(0.85);
  filter: blur(2px) brightness(0.7);
  z-index: 2;
}

.carousel-card-wrapper.right {
  // transform: translateX(320px) scale(0.85);
  transform: translateX(min(40vw, 360px)) scale(0.85);
  filter: blur(2px) brightness(0.7);
  z-index: 2;
}

.carousel-card-wrapper.hidden {
  transform: scale(0.7);
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

.footer {
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
}

.footer img {
  width: 200px;
  height: auto;
  display: inline-block;
}

.floating-chevron {
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  box-shadow: 0 2px 8px rgba(0,0,0,0.12);

  cursor: pointer;
  transition: all 0.2s ease;
}

.floating-chevron mat-icon {
  font-size: 22px;
  height: 22px;
  width: 22px;
  line-height: 22px;
}

.floating-chevron:hover {
  box-shadow: 0 4px 14px rgba(0,0,0,0.18);
  transform: translateY(-1px);
}

.floating-chevron:active {
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

