<div [ngClass]="themeClass">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="mobile-sidenav"
      mode="over"
      [(opened)]="mobileDrawerOpen"
      [disableClose]="!isMobile"
      [fixedInViewport]="true"
      fixedTopGap="64"
      >
      <bookshelf-side-nav (onNavigate)="closeMobileDrawer()"
                          (onDarkModeChanged)="onThemeChanged($event)"></bookshelf-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Toolbar -->
      <bookshelf-toolbar color="primary"
                         [isMobile]="isMobile"
                         (onMenuClicked)="toggleMobileDrawer()"></bookshelf-toolbar>

      <!-- Content -->
      <div class="main-content container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
