<mat-toolbar color="primary" class="toolbar">

  <!-- Left -->
  <button mat-icon-button (click)="menuClick()" class="toggle-button">
    <mat-icon color="accent">menu</mat-icon>
  </button>
  <span class="app-title">{{ appTitle }}</span>
  <span class="spacer"></span>

  <!-- Right -->
  <div>
    <a *ngIf="!loggedInUser" [routerLink]="'login'" style="margin-right: 2rem; color: white;">Log In</a>
    <mat-slide-toggle (change)="toggleDarkMode()"></mat-slide-toggle>
    <span class="dark-label" >Dark</span>
  </div>

</mat-toolbar>
